@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

*{
    font-family: 'Tiro Devanagari Hindi', serif;
}

.searchField{
    width:150px;
}
.navbar-brand{
    font-size: xx-large;
}

.nav-item{font-size: large;}

header{
	background: url(Photos/header.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 1100px;
}

.overlay{
	background-color: rgba(211, 211, 211, 0.4);  
    height:1100px; 
}

.headerContent{
	position: absolute;
	top: 40%;
	color: rgba(255,255,255,1);
	min-width: 100%;
}

.main{
    background-color:rgb(79, 29, 30);
}

.headerContent h1{
	letter-spacing: 20px;
}

.carousel{
    width: 60%;
    margin: auto auto;
    max-height: 700px;
}

.row{
    padding-top: 20px;
}


.comment-form{
    width: 80%;
    margin:auto;
    font-size: large;
}

@media(max-width:680px){
    
    .carousel{
        width:100%;
        max-height: 300px;
    }
    .main{
        padding-top: 0px;
    }
}

